<grid class="-z-10 absolute grid-columns">
    <div id="w-node-013b0a8ef39f-c26fb154" class="grid-columns-line"></div>
    <div id="w-node-013b0a8ef39f-c26fb154" class="grid-columns-line"></div>
    <div id="w-node-013b0a8ef39f-c26fb154" class="grid-columns-line"></div>
    <div id="w-node-013b0a8ef39f-c26fb154" class="grid-columns-line"></div>
    <div id="w-node-013b0a8ef39f-c26fb154" class="grid-columns-line"></div>
    <div id="w-node-013b0a8ef39f-c26fb154" class="grid-columns-line"></div>
    <div id="w-node-013b0a8ef39f-c26fb154" class="grid-columns-line  hidden sm:block"></div>
    <div id="w-node-013b0a8ef39f-c26fb154" class="grid-columns-line  hidden sm:block"></div>
    <div id="w-node-013b0a8ef39f-c26fb154" class="grid-columns-line hidden sm:block"></div>
    <div id="w-node-013b0a8ef39f-c26fb154" class="grid-columns-line hidden sm:block"></div>
    <div id="w-node-013b0a8ef39f-c26fb154" class="grid-columns-line hidden sm:block"></div>
    <div id="w-node-013b0a8ef39f-c26fb154" class="grid-columns-line hidden sm:block"></div>
</grid>

