<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}{{ title }}{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    <!-- Open graph -->
    <meta property="og:description" name="description" content="{{description}}"/>
    <meta property="og:title" name="title" content="{{ title }}">
    <link rel="icon" href="/src/images/favicon.svg" type="image/svg+xml" />
      <meta property="og:image" content="{{ '/src/og-images/og-image.png' | url }}" />

    <meta property="og:type" content="article">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    <script src="https://cdn.usefathom.com/script.js" data-site="LJAEUEIS" defer></script>
    {% block head %}{% endblock %}
</head>

    <body>
        <div class="horizontal-lines"></div>
        <div class="content">
        {% include "component/menu.njk" %}
        
        {% block content %}
            {{ content | safe }}
        {% endblock %}

        {# {% include "section/cta.njk" %} #}
        {% include "section/footer.njk" %}

        <grid class="-z-10 absolute">
            {% include "component/grid.njk" %}
        </grid>

        </div>
    </body>

</html>