---
tags: testimonial
client: Hirehive
person: John Dennehy
role: Founder & CEO
para1: We're a small team with big ambitions to build Hirehive.com into a world class HR platform. Our weakest point is design. It was too early to hire in this area for full time positions so we looked for a partner. We tried a couple of agencies before finally working with Ciaran and Emma.
para2: Not being experts ourselves in this area we struggled to even put together a decent brief. We probably weren't the ideal client. However, Ciaran and Emma guided us through the process to figure out what it was we were actually looking for. They worked from a high level and back down to pixel perfection. We were delighted with the work they did for us and were a pleasure at all times to deal with.
para3: We now have a logo we love. We got a whole brand identity that was fleshed out relatively quickly and painlessly. They listened to us and delivered exceptional results. They then started work on the heavy lifting, helping us build a user interface that is consistent and that our users love. There were some big design decisions and many small tweaks required. Overall we now have a brand we love and a user experience our clients love. I would absolutely recommend working with them."
cover: "/src/images/john-dennehy.jpg"
layout: testimonial.njk
---





