---
tags: testimonial
client: BMW
person: James Jones
role: VP of Marketing
para1: “Veblen Giffen has helped us generate tons of valuable UGC driving awareness and conversions for the Joolies Dates DTC.”
layout: testimonial.njk
---





