---
tags: testimonial
client: Pixi
person: Florence Wright
role: HEad of marketing
para1: “Veblen Giffen has helped us generate tons of valuable UGC driving awareness and conversions for the Joolies Dates DTC.”
cover: "/src/images/people/olivia-denyer-peblo.jpeg"
layout: testimonial.njk
---
