---
tags: testimonial
client: Peblo
person: Olivia Denyer
role: Head of Product
para1: We worked with the C&H team over the course of the year, and can honestly say our product wouldn’t be where it is today without them. They helped us with a wide range of tasks - developing and refining our brand identity, marketing materials, designing and building our landing pages, and they also designed the entirety of our customer facing and internal apps. 
para2: What really sets them apart is their responsiveness, adaptability, and genuine understanding of the rollercoaster ride that comes with launching a new product. They were there whenever we needed, swiftly turning around deliverables and embraced all feedback. It’s been a pleasure to work with them.
para3: In particular, I’d highly recommend working with Ciarán. He’s an expert designer who consistently delivered screens that were user friendly yet matched the cool, modern feel of our brand. He’s got a real knack for working through a tricky design problem, draws on a huge variety of sources for inspiration, and is excellent at talking through designs and explaining his choices. His technical knowledge also meant designs were always dev ready, and he liaised directly with our engineers throughout implementation. If you get an opportunity to work with them, you should take it."
cover: "/src/images/people/olivia-denyer-peblo.jpeg"
layout: testimonial.njk
---
