---
tags: testimonial
client:
person:  The Times 
role: 
quote: “Jake Browne, the sometimes blue-haired marketing whizz is on to his next adventure, monetising content at an industrial scale with new communications company Veblen Giffen.”
img: "/src/images/testimonials/the-times-logo.svg"
layout: testimonial.njk
---
