<div class="grid-default border-t mt-40 pt-8">
    <div class="col-span-12 lg:col-span-3 mb-6">
        <h3 class="text-xl text-gray-600 lg:text-gray-900">
            Availability
        </h2>
    </div>

    <div class="col-span-12 lg:col-span-8 grid grid-cols-1">
        <div class="flex flex-col">
            <h2 class="text-xl">
                We’re open for business and new collaborations in Q3 2023
            </h2>

            <div class="flex flex-col mt-8 space-y-4 sm:space-y-0 sm:space-x-4 sm:flex-row lg:mt-8 sm:px-0">
                <a data-savvycal-embed class="btn btn-primary" role="button" href="https://savvycal.com/ciaran/chat">
                    Book a call
                </a>

                <a class="btn btn-secondary" role="button" href="mailto:ciaran@carberryhanrahan.com">
                    Get in touch
                </a>
            </div>
        </div>
    </div>
</div>