<div id="contact" class="relative bg-black">
    <div class="horizontal-lines top-0"></div>

    <div class="grid-default pb-16 relative">
        <div class="col-span-12 mt-12 pt-8">
            <div class="outer-margin grid grid-cols-12">
                <div class="col-span-12 lg:col-span-7 mb-3 inner-margin">
                    <h2 class="text-white">
                        We Should Talk
                    </h2>
                </div>

                <div class="col-span-12 sm:col-span-11 xl:col-span-9 gap-2 lg:gap-6 flex flex-col sm:flex-row mt-4 mb-6 inner-margin">
                    <p class="text-xl font-medium text-white">
                        Talk to our team of internet natives to see if there's a fit between us
                    </p>
                </div>
            </div>
        </div>

        <div class="col-span-12 lg:col-span-8 outer-margin ">
            <div class="inner-margin flex flex-col">
                
                <div class="flex mt-8 lg:mt-8 sm:px-0">
                    <a class="btn btn-secondary" href="https://forms.gle/BhV6PBCrcbfioY3L7" target="_blank" id="tell-us-more-link">Tell Us More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-margin pt-16">
        <div class="grid-default flex flex-col sm:flex-row justify-between pt-5 pb-5 inner-margin gap-y-3">
            <div class="order-last lg:order-first col-span-12 lg:col-span-6 flex align-middle items-center">
                <span class="text-lg text-white uppercase font-mono leading-none">
                    hello@veblengiffen.com
                </span>
            </div>

            <div class="order-last lg:order-first col-span-12 lg:col-span-6 flex align-middle items-center">
                <span class="text-lg text-white uppercase font-mono leading-none">
                    @veblen_giffen 
                    (<a class="underline" href="https://www.instagram.com/veblen_giffen/" target="_blank">IG</a>
                    /<a class="underline" href="https://www.twitter.com/veblen_giffen/" target="_blank">TW</a>) 
                    (<a class="underline" href="https://www.linkedin.com/company/veblen-giffen" target="_blank">LI</a>)
                </span>
            </div>

            <div class="order-last lg:order-first col-span-12 lg:col-span-3 flex align-middle items-center">
                <ul class="flex gap-4 sm:gap-6 flex items-center align-middle">
                    <li>
                        <a href="/" title="" class="leading-none text-lg text-white uppercase font-mono transition-all duration-200 hover:text-opacity-80 focus:text-opacity-80">
                            Terms
                        </a>
                    </li>
                    
                    <li>
                        <a href="mailto:hi@carberryhanrahan.com" title="" class="leading-none  text-lg text-white uppercase font-mono transition-all duration-200 hover:text-opacity-80 focus:text-opacity-80">
                            Privacy
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <grid class="grid-on-black absolute top-0 h-full w-full z-0">
        {% include "component/grid.njk" %}
    </grid>
</div>