<section id="marketing" class="border-b border-gray-900">
    <div class="mt-12 pt-8">
        <div class="pl-12 pr-12">
            <div class="col-span-12 lg:col-span-3 mb-6 pl-8 pr-8">
                <h2 class="text-6xl uppercase font-medium">
                    Modern day marketing
                </h2>
            </div>

        </div>
    </div>

    <div class="grid-default py-8 pl-12 pr-12 border-t border-gray-900">
        <div class="col-span-1 pl-8 flex items-center">
            <p class="text-base mt-1 uppercase lg:text-red-500 font-mono leading-none">
                01
            </p>
        </div>

        <div class="col-span-3 flex items-center">
            <h3 class="text-2xl uppercase lg:text-gray-900 leading-none font-medium">
                Relevance
            </h3>
        </div>
        
        <div class="col-span-12 lg:col-span-8 flex items-center">
            <p class="text-lg font-mono uppercase leading-none">
                Be in the right place, at the right time for the right audience
            </p>
        </div>
    </div>
    <div class="grid-default py-8 pl-12 pr-12 border-t border-gray-900">
        <div class="col-span-1 pl-8 flex items-center">
            <p class="text-base mt-1 uppercase lg:text-red-500 font-mono leading-none">
                02
            </p>
        </div>

        <div class="col-span-3 flex items-center">
            <h3 class="text-2xl uppercase lg:text-gray-900 leading-none font-medium">
                Distribution
            </h3>
        </div>
        
        <div class="col-span-12 lg:col-span-8 flex items-center">
            <p class="text-lg font-mono uppercase leading-none">
                Scale your story across the internet
            </p>
        </div>
    </div>
    
    <div class="grid-default py-8 pl-12 pr-12 border-t border-gray-900">
        <div class="col-span-1 pl-8 flex items-center">
            <p class="text-base mt-1 uppercase lg:text-red-500 font-mono leading-none">
                03
            </p>
        </div>

        <div class="col-span-3 flex items-center">
            <h3 class="text-2xl uppercase lg:text-gray-900 leading-none font-medium">
                B2B
            </h3>
        </div>
        
        <div class="col-span-12 lg:col-span-8 flex items-center">
            <p class="text-lg font-mono uppercase leading-none">
                A Content Engine That Builds Trust & Creates Sales Pipeline
            </p>
        </div>
    </div>

    <div class="grid-default py-8 pl-12 pr-12 border-t border-gray-900">
        <div class="col-span-1 pl-8 flex items-center">
            <p class="text-base mt-1 uppercase lg:text-red-500 font-mono leading-none">
                04
            </p>
        </div>

        <div class="col-span-3 flex items-center">
            <h3 class="text-2xl uppercase lg:text-gray-900 leading-none font-medium">
                Transformation
            </h3>
        </div>
        
        <div class="col-span-12 lg:col-span-8 flex items-center">
            <p class="text-lg font-mono uppercase leading-none">
                Marketing Is Changing Faster Than Ever, Adapt & Evolve Along With It
            </p>
        </div>
    </div>

    <div class="grid-default py-8 pl-12 pr-12 border-t border-gray-900">
        <div class="col-span-1 pl-8 flex items-center">
            <p class="text-base mt-1 uppercase lg:text-red-500 font-mono leading-none">
                05
            </p>
        </div>

        <div class="col-span-3 flex items-center">
            <h3 class="text-2xl uppercase lg:text-gray-900 leading-none font-medium">
                (Brand) DNA
            </h3>
        </div>
        
        <div class="col-span-12 lg:col-span-8 flex items-center">
            <p class="text-lg font-mono uppercase leading-none">
                Unlock what makes your brand a unique, one of a kind.
            </p>
        </div>
    </div>

</section>
