<section id="marketing" class="border-b border-gray-900">
    <div class="mt-8 pt-8">
        <div class="outer-margin grid-default">
            <div class="that  col-span-12 lg:col-span-11 inner-margin">
                <h2 class="this text-justify">
                    A contemporary communications company with a maniacal focus on the modern craftsmanships of electronic advertising.
                </h2>
            </div>

        </div>
    </div>
    

    <div class="grid-default py-8 outer-margin gap-y-2 mb-8">

        <div class="col-span-12 sm:col-span-11 lg:col-span-10 flex flex-col gap-y-4 items-center inner-margin">
            

            <p class="text-xl font-medium leading-tight marketing-desc inner-margin text-justify">
                To build a maniacally focused electronic only advertising services business which disrupts & rejects an outdated analog model. Through expert craftsmanship in content, social, community, & transformation and an uncompromising support of creators, who have proven quantifiable track records in mastering the métiers of modern marketing, Veblen Giffen is a haven for artistry that ushers brilliant businesses into the next era of the always online, 24-7, global world we live in.
            </p>
        </div>
    </div>
   


</section>
