<section id="capabilities">

    <div class="grid-default pl-12 pr-12 border-gray-900 pb-16">

       {% for testimonial in collections.testimonial %}
            <blockquote class="flex flex-col col-span-7 pt-16 px-8 justify-center items- -middle flex">
                <p class="uppercase font-medium text-2xl leading-tight mb-4">
                    {{ testimonial.data.para1 }}
                </p>
                <figcaption>
                <p class="font-mono text-lg leading-none uppercase">{{ testimonial.data.person }}</p>
                <p class="font-mono text-lg leading-none uppercase">{{ testimonial.data.role }}, {{ testimonial.data.client }}</p>
                </figcaption>
            </blockquote>
        {% endfor %}
       
    </div>
    
</section>
