<div class="relative">
    
    <div class="video-container border-b border-gray-900 justify-center items-center flex bg-green-500">
        <button class="h-full w-full justify-center absolute z-50 font-mono uppercase flex items-center gap-x-2 text-xl" id="playPauseButton">
            
            A software company powering the creator economy.
        </button>
        <div class="z-10 lines-on-green horizontal-lines top-0"></div>
        
        <div class="z-10 grid-on-green absolute top-0 w-full h-full border-t border-gray-900">
            {% include "component/grid.njk" %}
        </div>

    </div>
</div>
    