@font-face {
  font-family: 'Diatype';
  src: url('../src/fonts/ABCDiatype-Regular.woff2') format('woff2'),
      url('../src/fonts/ABCDiatype-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Diatype';
  src: url('../src/fonts/ABCDiatype-Medium.woff2') format('woff2'),
      url('../src/fonts/ABCDiatype-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
scroll-behavior: smooth;
}


html,
body {
font-family: 'Diatype', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
position: relative;
}

.grid-columns {
position: absolute;
padding: 0 48px;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  z-index: 1;
}

div {
  position: unset !important;
  z-index: 2;
}

.clients:nth-last-child(-n + 4) {
  border-bottom: none;
}

.grid-columns-line {
width: 100%;
height: 100%;
border-right: 1px solid rgba(0, 0, 0, 0.075);
-ms-grid-column-align: center;
  justify-self: center;
}


.grid-columns-line:first-of-type {
border-left: 1px solid rgba(0, 0, 0, 1);
}

.grid-columns-line:last-of-type {
border-right: 1px solid rgba(0, 0, 0, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.site-title {
width: 100%;
}

.site-title svg {
width: 100%;
}

.video-container {
background: #006655;
height: 60vh;
}



/* @media (min-width: 640px) {
.proposal h2 {
  font-size: 40px !important;
}
} */

ul {
line-height: 1.8 !important;
@apply text-lg leading-8 text-gray-900;
}

small {
font-size: 50%;
@apply text-lg leading-8 font-medium text-gray-600;
}

.underline-custom {
border-bottom: 1.5px dashed #aaa;
}

p, 
li {
@apply text-xl leading-8 text-gray-900;
}

.grid-default {
@apply grid grid-cols-12;
}

.current-menu-item a {
@apply border-gray-900 hover:border-gray-900
}

.current-menu-item:has(+ .current-menu-item) a {
@apply border-transparent;
}

@media (max-width: 640px) {
.menu li:nth-child(2) {
  display: none;
}
}

/*buttons*/
.btn {
@apply inline-flex items-center justify-center px-5 py-1.5 border border-transparent text-xl focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-gray-500  hover:shadow-sm;
}

.btn-primary {
@apply text-white bg-black hover:bg-gray-700
}

.btn-secondary {
@apply text-white border border-white hover:bg-gray-100;
}

.max-w-8xl {
max-width: 105rem;
}

.work-link {
opacity: 0;
top: 10px;
}

.work-link-activate:hover .work-link {
opacity: 100;
top: 0px;
}

/* Swiper */
/* .swiper-wrapper {
margin-left: -80px;
} */

.swiper {
width: 100%;
height: auto;
}

.swiper-slide {
user-select: none !important;
}

/* image background */
.object-contain {
@apply bg-gray-200 rounded-lg;
}

.swiper-button-next,
.swiper-button-prev {
background-color: white;
background-color: rgba(255, 255, 255, 0.4);
border-radius: 50px;
right:10px;
color: #000 !important;
fill: black !important;
stroke: black !important;
}

@media (max-width: 640px) {
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
}

.swiper-button-prev {
padding: 32px 36px 32px 28px;
}

.swiper-button-next {
padding: 32px 28px 32px 36px;
}

.caption {
@apply mt-3 text-base;
}

.logo-fill {
fill: red;
}

.comma:last-of-type { 
display: none;
}

/* CASE STUDIES  */
.project-image {
@apply overflow-hidden rounded-lg sm:rounded-xl flex justify-center content-center flex-wrap;
min-height: 400px;
}

.project-image img {
@apply rounded-lg sm:rounded-xl;
}

.project-image-r img {
@apply rounded-tl-lg sm:rounded-tl-xl !important;
}

.project-image-r {
@apply overflow-hidden rounded-lg sm:rounded-xl flex justify-center content-center flex-wrap;
min-height: 400px;
}

.image-contain-r {
  @apply overflow-hidden sm:border-none p-0 sm:pl-6 md:pl-8 xl:pl-12 sm:pt-6 md:pt-8 xl:pt-12
}

.image-contain {
@apply overflow-hidden sm:border-none p-0 sm:p-6 md:p-8 xl:p-12
}

@media only screen and (max-width: 740px) {
.image-contain-mobile {
  display: flex;
  padding: 24px 0 0 24px;
  justify-content: flex-start;
}

.image-contain-mobile img {
  min-width: 690px;
  border-radius: 8px 0 0 0;
}

.image-contain-mobile-no-padding {
  display: flex;
  justify-content: flex-start;
}

.image-contain-mobile-no-padding img {
  min-width: 690px;
  border-radius: 8px 0 0 0;
}
}

.image-contain img {
max-width: 1440px;

}

.object-fit {
object-fit: cover;
height: 100%;
}

.project-section-subheader {
@apply text-xl leading-7 text-gray-500 block mt-5 mb-12 block;
}

.project-section-body {
@apply text-xl leading-8 text-gray-900;
}

.project-list-header {
@apply mt-12 text-lg font-medium uppercase text-gray-800;
}

.project-list {
@apply list-disc ml-6;
}

.invert {
filter: invert(100%);
}

@media only screen and (max-width: 1840px) {
.hack {
  min-height: 900px;
}
}

@media only screen and (max-width: 1440px) {
.hack {
  min-height: 800px;
}
}

@media only screen and (max-width: 1100px) {
.hack {
  min-height: 560px;
}
}

@media only screen and (max-width: 800px) {
.hack {
  min-height: 400px;
}
}

/* CONJURE */
.container {
display: flex;
height: 85vh;
width: 100%;
justify-content: center;
align-items: center;
}

@media only screen and (max-width: 640px) {
.container {
  height: 400px;
}
}

.loading {
display: flex;
align-items: center;
justify-content: center;
}
.colour-fill-inner {
fill: #6366F1;
}
.colour-fill-outer {
fill: #6366F1;
}
.reverse-spin {
width: 120px;
height: 120px;
animation-name: reverse-spin;
animation-duration: 6000ms;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
.spin {
width: 320px;
height: 320px;
position: absolute;
animation-name: spin;
animation-duration:6000ms;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@media only screen and (max-width: 640px) {
.reverse-spin {
  width: 60px;
  height: 60px;
}
.spin {
  width: 160px;
  height: 160px;
}
}

@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

/*reverse*/
@keyframes reverse-spin {
from {
  transform: rotate(360deg);
}
to {
  transform: rotate(0deg);
}
}

#Cal\.com #testimonial {
display: none;
}