@font-face {
  font-family: 'SuisseIntl';
  src: url('../src/fonts/SuisseIntl-Regular.woff2') format('woff2'),
      url('../src/fonts/SuisseIntl-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('../src/fonts/SuisseIntl-Medium.woff2') format('woff2'),
      url('../src/fonts/SuisseIntl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseIntl Mono';
  src: url('../src/fonts/SuisseIntl-Mono.woff2') format('woff2'),
      url('../src/fonts/SuisseIntl-Mono.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'SuisseIntl', Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  position: relative;
}


.horizontal-lines {
  margin-top: -1px;
  z-index: 1;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 0);
  background-size: 100% 8px;
  width: 100%;
}

.bg-black .horizontal-lines {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 1px, transparent 0);
}

.lines-on-green.horizontal-lines {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 1px, transparent 0);
}

.content {
  position: relative;
  z-index: 10;
}

h2 {
  @apply text-4xl md:text-6xl uppercase font-medium !important;
}

.font-mono {
  font-family: 'SuisseIntl Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

.outer-margin {
  @apply pl-4 pr-4 md:pl-8 md:pl-8 xl:pl-12 xl:pr-12
}

.inner-margin {
  @apply pl-4 pr-4 lg:pl-8 lg:pr-8;
}

.inner-margin-mobile {
  @apply pl-4 pr-4 sm:pl-0 sm:pr-0
}

.grid-columns {
  @apply outer-margin;
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

@media (max-width: 640px) {
  .grid-columns {
    grid-template-columns: repeat(6, 1fr);
  }
}

.grid-default {
  @apply grid grid-cols-6 sm:grid-cols-12;
}

/* GRID LINES */
.grid-columns-line {
  width: 100%;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.045);
  -ms-grid-column-align: center;
  justify-self: center;
}

.grid-on-green .grid-columns-line {
  border-right: 1px solid rgba(255, 255, 255, 0.075);
}

.grid-columns-line:first-of-type {
  border-left: 1px solid rgba(0, 0, 0, 1);
  }
  
.grid-columns-line:last-of-type {
  border-right: 1px solid rgba(0, 0, 0, 1);
}
@media (max-width: 640px) {
  .grid-columns-line:nth-child(6) {
    border-right: 1px solid rgba(0, 0, 0, 1);
  }
}


.grid-on-black .grid-columns-line {
  border-right: 1px solid rgba(255, 255, 255, 0.10);
}

.grid-on-black .grid-columns-line:first-of-type {
  border-left: 1px solid rgba(255, 255, 255, .5);
  }
  
.grid-on-black .grid-columns-line:last-of-type {
  border-right: 1px solid rgba(255, 255, 255, .5);
}

@media (max-width: 640px) {
  .grid-on-black .grid-columns-line:nth-child(6) {
    border-right: 1px solid rgba(255, 255, 255, .5);
  }
}

/* END GRID */
.marketing-number {
  @apply pl-4 sm:pl-8;
}

.marketing-title, .marketing-desc {
  @apply pl-4 sm:pl-8 lg:pl-0;
}

.marketing-desc {
  line-height: 1.15 !important;
}

.menu {
  min-height: 56px;
}

@media (min-width: 640px) {
  .clients:nth-last-child(-n + 4) {
    border-bottom: none;
  }
}

.clients:nth-last-child(-n + 2) {
  border-bottom: none;
}

@media (max-width: 1024px) {
  .clients:last-child {
    display: none;
  }
}

grid {
  height: 100%;
  width: 100%;
  top: 0;
}

div {
  position: unset;
  z-index: 2;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


.video-container {
  min-height: 68vh;
}

img.clients-img {
  max-width: 160px;
}

p, 
li {
@apply text-xl leading-8 text-gray-900;
}

.current-menu-item a {
@apply border-gray-900 hover:border-gray-900
}

.current-menu-item:has(+ .current-menu-item) a {
@apply border-transparent;
}

@media (max-width: 640px) {
.menu li:nth-child(2) {
  display: none;
}
}

/*buttons*/
.btn {
@apply inline-flex items-center justify-center px-5 py-1.5 border border-transparent text-xl focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-gray-500  hover:shadow-sm;
}

.btn-primary {
@apply text-white bg-black hover:bg-gray-700
}

.btn-secondary {
@apply text-white border border-white hover:bg-green-500;
  margin-left: 0 !important;
}

.site-title {
  margin-bottom: -2px;
}

@media (max-width: 640px) {
  .site-title {
    margin-bottom: -3px;
  }
}
